.container {
  /* width: 10rem; */
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: content-box;
  padding: 1rem 1rem 0rem 1rem;
  /* margin: 1rem; */
  border: solid;
}

.checkbox {
  text-align: left;
  width: 100%;
}

/* change checkmark color */
