.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  width: 78rem;
  margin: 0 auto;
}

.empty-list {
  margin-top: 30vh;
  margin-bottom: 30vh;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

@media only screen and (max-width: 80rem) {
  .container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
    width: auto;
    margin: 0 1rem;
  }
}
